@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Verdana', 'sans-serif';
  font-weight: 900;
}

a,
.green {
  text-decoration: none;
  color: white;
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 0px) {
  body {
    place-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    background: linear-gradient(to bottom, indigo, thistle); 
    background-attachment: fixed;
    color: white;
    font-family: 'Verdana', 'sans-serif';
    font-weight: 900;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  button {
  border: 10px solid navy;
  background-color: navy;
  color: white;
  cursor: pointer;
  border-radius: 0px;
  font-family: 'Verdana', 'sans-serif';
  font-weight: 900;
  border-radius: 20px;
}
button:hover {
  background-color: violet;
  border-color: violet;
  animation: bubble 1s ease-out;
}

@keyframes bubble {
0% {
transform: scale(1);
}
50% {
transform: scale(1.2);
}
100% {
transform: scale(1);
}
}

}
